version: "3.4"
services:
  api:
    image: zelejs/api:dummy
    #image: 192.168.3.239:5000/api:dummy
    privileged: true
    restart: always
    working_dir: /webapps
    environment: 
      #GREENFIELD: dummy
      #JAVA_OPTS: "$JAVA_OPTS -agentlib:jdwp=transport=dt_socket,address=5005,server=y,suspend=n"
      URL_SHORT: 127.0.0.1:3306/dummy
      USERNAME: root
      PASSWORD: root
      ROLLBACK_KEEP_NUM: 2
    volumes: 
      - /etc/localtime:/etc/localtime:ro
      - ./lib:/webapps/lib
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
    ports: 
      - 8080:8080
    networks:
      - dummy_net

networks:
   dummy_net:
     external: false

