version: "3.4"
# COMPOSE_DOCKER_CLI_BUILD=1 DOCKER_BUILDKIT=1 docker-compose up --build
services:
  api:
    image: arm32v7/api:dummy
    build:
      context: .
      dockerfile: ./Dockerfile.image.arm.copy
