version: "3.4"
services:
  api:
    image: api:dummy
    # image: zelejs/api:dummy
    privileged: true
    working_dir: /var/webapps
    environment: 
      #GREENFIELD: dummy
      # JAVA_OPTS: "$JAVA_OPTS -agentlib:jdwp=transport=dt_socket,address=*:5005,server=y,suspend=n"
      # URL_SHORT: 192.168.3.239:3306/dummy
      # USERNAME: root
      # PASSWORD: root
      DUMMY_RUNNER: test  # spring.profiles.active=${DUMMY_RUNNER}
      ROLLBACK_KEEP_NUM: 2
      DEPLOY_OPT: restart # dummy: only deploy,cli;  restart: restart the container
      # DOCKER_SOCKET: /var/run/docker.sock
      DOCKER_ENDPOINT: http://localhost:2375
      DOCKER_CONTAINER: api
    volumes:
      # - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
      - /var/api:/webapps
      - /var/api/lib:/webapps/lib
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
    ports: 
      - 8080:8080
      # - 5005:5005
