version: "3.4"
# COMPOSE_DOCKER_CLI_BUILD=1 DOCKER_BUILDKIT=1 docker-compose up --build
services:
  api:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
    volumes: 
      - ./target:/webapps
    network_mode: host
    command:
      - /bin/sh
      - -c
      - |
        /bin/cp target/*-standalone.jar /webapps
