version: "3.4"
services:
  api:
    image: api:dummy
    privileged: true
    restart: always
    working_dir: /webapps
    environment: 
      #JAVA_OPTS: "$JAVA_OPTS -agentlib:jdwp=transport=dt_socket,address=5005,server=y,suspend=n"
      URL_SHORT: mysqlserver:3306/dummy
      USERNAME: root
      PASSWORD: root
      GREENFIELD: dummy
      ROLLBACK_KEEP_NUM: 2
    volumes: 
      - /etc/localtime:/etc/localtime:ro
      - ./lib:/webapps/lib
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
    ports: 
      - 8080:8080
