<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    document.write('<script type="text/javascript" src="./config.js?_t=' + Date.now() + '"><\/script>');
  </script>

</head>

<body style="background-color: #fff; overflow-x: hidden; overflow-y: scroll; ">
    <div id="root"></div>
    <!-- 打包后，放在body里最底部才能修改html title 
      <script>
	      document.title = ''
      </script> 
    -->
</body>

</html>
