target/
build/
webapps/
/gen/
.idea/
.gradle/
.svn/
*.iml
*.swp
*.log
logs/
*.db
LOG_**
view-app/
.classpath
.factorypath
.project
.settings/
.vscode/
config/
.DS_Store
*.jar

## 
BOOT-INF/
WEB-INF/
indexes/
.tarignore
*.tar
